name: TGD - Telegram Downloader

on:
  workflow_dispatch:
    inputs:
      url:
        description: 'Download URL'
        required: true
        type: string

jobs:
  tgd-task:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y aria2
        pip install pyrogram tgcrypto requests

    - name: Download and Upload
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
      run: |
        python scripts/downloader.py "${{ github.event.inputs.url }}"
