name: TGD - Telegram Downloader

on:
  workflow_dispatch:
    inputs:
      url:
        description: 'Download URL'
        required: true
        type: string

jobs:
  tgd-task:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y aria2
        pip install requests tqdm

    - name: Start Telegram Bot API Server
      run: |
        docker run -d -p 8081:8081 --name telegram-bot-api \
          -e TELEGRAM_API_ID=${{ secrets.TELEGRAM_API_ID }} \
          -e TELEGRAM_API_HASH=${{ secrets.TELEGRAM_API_HASH }} \
          -e TELEGRAM_LOCAL=true \
          aiogram/telegram-bot-api:latest
        
        echo "⏳ Waiting for server..."
        sleep 5
        curl -s http://localhost:8081 > /dev/null && echo "✅ Server is UP" || (echo "❌ Server failed" && exit 1)

    - name: Download and Upload
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}
      run: |
        python scripts/downloader.py "${{ github.event.inputs.url }}"
